@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", "Rubik", sans-serif;
  font-size: 16px;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", "Roboto", sans-serif;
}

a:hover {
  color: unset;
}

@layer base {
  footer {
    background: #263238;
  }
}

